body{
    display: flex;
    justify-content: center;
}

button {
    font-size: 8px;
    margin: 0 20px;
    color: #666;
}

.board{
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    min-width: 960px;
    min-height: 960px;
    max-width: 960px;
    max-height: 960px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: auto;
}

.col{
    display: flex;
    align-self: center;
    flex: auto;
    height: 100%;
}